h3 {
    text-shadow: 2px 2px red;
    color: gold;
    background-color: black;
    display: table-cell;
    text-align: center;
    position: center;
}
table {
    width: 50%;
    text-align: left;
    table-layout: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
th,td {
    background-color: goldenrod;
    color: black;
    border-color: black;
    border-image-outset: initial;

}